javascript:
    $('##{table_id} tbody tr').css('cursor', 'pointer').on("click", function (e) {
        if ($(e.target).closest("a").length > 0) {
            return true;
        }
        const record_id = $(this).attr('data-record-id');
        window.location = '/#{target}/' + record_id;
    });